In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [3]:
path = r'C:\Users\dbnew\Achievement_6'

In [4]:
#Importing WHO air quality dataset
df = pd.read_excel(os.path.join(path, 'Original_Data', 'who_orig.xlsx'), index_col = False)

In [5]:
df.head()

,WHO Region,ISO3,WHO Country Name,City or Locality,Measurement Year,PM2.5 (μg/m3),PM10 (μg/m3),NO2 (μg/m3),PM25 temporal coverage (%),PM10 temporal coverage (%),NO2 temporal coverage (%),Reference,Number and type of monitoring stations,Version of the database,Status
0,African Region,ZAF,South Africa,Buffalo City,2021,12.63,29.04,10.88,75.0,75.0,75.0,South African Air Quality Information System,"1 Background, 1 Residential-Medium/Upper income",2022,NaN
1,African Region,ZAF,South Africa,Capricorn Dm,2021,18.91,37.40,NaN,75.0,75.0,NaN,South African Air Quality Information System,1 Residential-Low income,2022,NaN
2,African Region,ZAF,South Africa,City Of Cape Town,2021,14.86,36.34,17.20,75.0,75.0,75.0,South African Air Quality Information System,"1 Industrial, 1 Residential-Low income, 1 Resi...",2022,NaN
3,African Region,ZAF,South Africa,City Of Johannesburg,2021,35.47,54.22,38.83,75.0,75.0,75.0,South African Air Quality Information System,"3 Residential-Low income, 1 Traffic-Roadside, ...",2022,NaN
4,African Region,ZAF,South Africa,City Of Tshwane,2021,23.39,130.19,21.12,75.0,75.0,75.0,South African Air Quality Information System,"1 Industrial, 2 Residential-Medium/Upper incom...",2022,NaN

In [6]:
#Dropping unneeded columns
df=df.drop(columns=['ISO3', 'Status'])

In [7]:
df.head()

,WHO Region,WHO Country Name,City or Locality,Measurement Year,PM2.5 (μg/m3),PM10 (μg/m3),NO2 (μg/m3),PM25 temporal coverage (%),PM10 temporal coverage (%),NO2 temporal coverage (%),Reference,Number and type of monitoring stations,Version of the database
0,African Region,South Africa,Buffalo City,2021,12.63,29.04,10.88,75.0,75.0,75.0,South African Air Quality Information System,"1 Background, 1 Residential-Medium/Upper income",2022
1,African Region,South Africa,Capricorn Dm,2021,18.91,37.40,NaN,75.0,75.0,NaN,South African Air Quality Information System,1 Residential-Low income,2022
2,African Region,South Africa,City Of Cape Town,2021,14.86,36.34,17.20,75.0,75.0,75.0,South African Air Quality Information System,"1 Industrial, 1 Residential-Low income, 1 Resi...",2022
3,African Region,South Africa,City Of Johannesburg,2021,35.47,54.22,38.83,75.0,75.0,75.0,South African Air Quality Information System,"3 Residential-Low income, 1 Traffic-Roadside, ...",2022
4,African Region,South Africa,City Of Tshwane,2021,23.39,130.19,21.12,75.0,75.0,75.0,South African Air Quality Information System,"1 Industrial, 2 Residential-Medium/Upper incom...",2022

In [8]:
df.describe()

,Measurement Year,PM2.5 (μg/m3),PM10 (μg/m3),NO2 (μg/m3),PM25 temporal coverage (%),PM10 temporal coverage (%),NO2 temporal coverage (%),Version of the database
count,32131.000000,14988.000000,21106.000000,22198.000000,7275.000000,5374.000000,19893.000000,32131.000000
mean,2015.571629,22.891974,30.505043,20.597707,90.794302,90.654121,93.695904,2021.743737
std,2.751577,17.945213,29.242469,12.093280,14.872798,13.627474,10.450717,1.052821
min,2000.000000,0.010000,1.040000,0.000000,0.000000,2.568493,1.923077,2016.000000
25%,2014.000000,10.320000,16.980000,11.990000,88.595890,87.979442,93.207763,2022.000000
50%,2016.000000,15.975000,22.000000,18.800000,97.000000,96.062000,96.364155,2022.000000
75%,2018.000000,31.000000,31.280000,27.137500,99.000000,98.938000,98.926941,2022.000000
max,2021.000000,191.900000,540.000000,210.680000,100.000000,100.000000,100.000000,2022.000000

In [9]:
#Check for mixed data types
for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

WHO Region
Number and type of monitoring stations

In [10]:
#Changing WHO Region column to string type
df['WHO Region'] = df['WHO Region'].astype('str')

In [11]:
df['Number and type of monitoring stations'].dtype

dtype('O')

In [12]:
#Checking for missing values
df.isnull().sum()

WHO Region                                    0
WHO Country Name                              0
City or Locality                              0
Measurement Year                              0
PM2.5 (μg/m3)                             17143
PM10 (μg/m3)                              11025
NO2 (μg/m3)                                9933
PM25 temporal coverage (%)                24856
PM10 temporal coverage (%)                26757
NO2 temporal coverage (%)                 12238
Reference                                     0
Number and type of monitoring stations    23480
Version of the database                       0
dtype: int64

In [13]:
#Checking for pattern in missing PM2.5 values
df_nan_pm2=df[df['PM2.5 (μg/m3)'].isnull()==True]

In [14]:
#Counting missing PM2.5 values by country
missing_data_by_country=df_nan_pm2['WHO Country Name'].value_counts(dropna=False).to_frame()

In [15]:
pd.set_option('display.max_rows', None)

In [16]:
missing_data_by_country

                                    WHO Country Name
India                                           1844
Spain                                           1803
Italy                                           1735
Germany                                         1556
France                                          1445
United States of America                        1114
Poland                                           899
Switzerland                                      779
Austria                                          703
Turkey                                           498
Romania                                          439
Czechia                                          402
Brazil                                           398
United Kingdom                                   338
Sweden                                           269
Portugal                                         245
Netherlands                                      197
Belgium                                          188
Bulgaria                                         172
Finland                                          132
Hungary                                          123
New Zealand                                      113
Greece                                           105
Mexico                                           104
Slovenia                                          91
Republic of Korea                                 90
Thailand                                          77
Serbia                                            72
Canada                                            68
Australia                                         66
Philippines                                       63
Israel                                            59
Iran (Islamic Republic of)                        59
Lithuania                                         58
Ireland                                           57
Croatia                                           51
Norway                                            51
South Africa                                      47
North Macedonia                                   44
Colombia                                          44
Slovakia                                          42
Peru                                              34
Kuwait                                            32
United Arab Emirates                              31
Denmark                                           30
Bosnia and Herzegovina                            29
Bahrain                                           28
Montenegro                                        28
Chile                                             27
Luxembourg                                        24
Morocco                                           24
Viet Nam                                          21
Bhutan                                            19
Myanmar                                           18
Jordan                                            17
Ecuador                                           13
Mauritius                                         11
Iraq                                              10
Iceland                                           10
Jamaica                                           10
Albania                                            7
Andorra                                            7
Costa Rica                                         7
Malaysia                                           6
Egypt                                              6
Malta                                              5
Monaco                                             5
Latvia                                             5
Senegal                                            4
Ghana                                              4
Argentina                                          4
Tunisia                                            4
Estonia                                            3
Honduras                                           3
Guatemala                                          3
Bolivia (Plurinational State of)                   2
Trinidad and Tobago                                2
Sri Lanka                                          2
Venezuela (Bolivarian Republic of)                 2
Georgia                                            1
Russian Federation                                 1
Saudi Arabia                                       1
China                                              1
Maldives                                           1
Liechtenstein                                      1

In [17]:
#Checking total entries for each country to establish percentage of missing values
df_full=df['WHO Country Name'].value_counts(dropna=False).to_frame()

In [18]:
df_full

                                    WHO Country Name
China                                           3967
Italy                                           3129
Germany                                         2601
Spain                                           2497
India                                           2265
France                                          2142
United States of America                        1776
Poland                                          1448
Switzerland                                     1033
Canada                                           991
Austria                                          934
United Kingdom                                   769
Czechia                                          730
Turkey                                           597
Romania                                          513
Belgium                                          504
Brazil                                           479
Netherlands                                      434
Sweden                                           380
Portugal                                         342
Finland                                          238
Australia                                        236
Bulgaria                                         225
Chile                                            224
Mexico                                           224
Norway                                           201
Republic of Korea                                192
Slovakia                                         174
New Zealand                                      157
Hungary                                          150
South Africa                                     145
Greece                                           142
Iran (Islamic Republic of)                       136
Israel                                           135
Slovenia                                         117
Thailand                                         110
Ireland                                          106
Croatia                                          105
Philippines                                      101
Lithuania                                         99
Colombia                                          93
Peru                                              81
Serbia                                            73
Japan                                             64
Denmark                                           62
Kuwait                                            62
Bangladesh                                        60
Estonia                                           57
Luxembourg                                        48
North Macedonia                                   47
Bosnia and Herzegovina                            42
Iceland                                           41
Cyprus                                            40
Latvia                                            40
Bahrain                                           37
Malta                                             37
United Arab Emirates                              36
Viet Nam                                          31
Montenegro                                        28
Morocco                                           24
Malaysia                                          24
Ecuador                                           24
Nepal                                             23
Myanmar                                           19
Bhutan                                            19
Jordan                                            19
Costa Rica                                        15
Iraq                                              13
Albania                                           12
Indonesia                                         12
Singapore                                         12
Mongolia                                          12
Mauritius                                         11
Pakistan                                          11
Senegal                                           10
Jamaica                                           10
Trinidad and Tobago                                8
El Salvador                                        8
Lebanon                                            7
Andorra                                            7
Argentina                                          6
Saudi Arabia                                       6
Egypt                                              6
Guatemala                                          6
Sri Lanka                                          5
Monaco                                             5
Ghana                                              5
Madagascar                                         4
Georgia                                            4
Tunisia                                            4
Uganda                                             4
Ethiopia                                           4
Honduras                                           4
Bahamas                                            3
Qatar                                              3
Cameroon                                           3
Venezuela (Bolivarian Republic of)                 3
Fiji                                               2
Bolivia (Plurinational State of)                   2
Kazakhstan                                         2
Russian Federation                                 2
Kenya                                              2
Uruguay                                            2
Ukraine                                            2
Uzbekistan                                         2
Cuba                                               1
Afghanistan                                        1
Turkmenistan                                       1
Tajikistan                                         1
Algeria                                            1
Lao People's Democratic Republic                   1
Kyrgyzstan                                         1
Maldives                                           1
United Republic of Tanzania                        1
Liechtenstein                                      1
Nigeria                                            1
Paraguay                                           1
Panama                                             1

In [19]:
#Caclulating percentage missing PM2.5 values for each country
df_missing_perc=missing_data_by_country/df_full

In [20]:
df_missing_perc

                                    WHO Country Name
Afghanistan                                      NaN
Albania                                     0.583333
Algeria                                          NaN
Andorra                                     1.000000
Argentina                                   0.666667
Australia                                   0.279661
Austria                                     0.752677
Bahamas                                          NaN
Bahrain                                     0.756757
Bangladesh                                       NaN
Belgium                                     0.373016
Bhutan                                      1.000000
Bolivia (Plurinational State of)            1.000000
Bosnia and Herzegovina                      0.690476
Brazil                                      0.830898
Bulgaria                                    0.764444
Cameroon                                         NaN
Canada                                      0.068618
Chile                                       0.120536
China                                       0.000252
Colombia                                    0.473118
Costa Rica                                  0.466667
Croatia                                     0.485714
Cuba                                             NaN
Cyprus                                           NaN
Czechia                                     0.550685
Denmark                                     0.483871
Ecuador                                     0.541667
Egypt                                       1.000000
El Salvador                                      NaN
Estonia                                     0.052632
Ethiopia                                         NaN
Fiji                                             NaN
Finland                                     0.554622
France                                      0.674603
Georgia                                     0.250000
Germany                                     0.598231
Ghana                                       0.800000
Greece                                      0.739437
Guatemala                                   0.500000
Honduras                                    0.750000
Hungary                                     0.820000
Iceland                                     0.243902
India                                       0.814128
Indonesia                                        NaN
Iran (Islamic Republic of)                  0.433824
Iraq                                        0.769231
Ireland                                     0.537736
Israel                                      0.437037
Italy                                       0.554490
Jamaica                                     1.000000
Japan                                            NaN
Jordan                                      0.894737
Kazakhstan                                       NaN
Kenya                                            NaN
Kuwait                                      0.516129
Kyrgyzstan                                       NaN
Lao People's Democratic Republic                 NaN
Latvia                                      0.125000
Lebanon                                          NaN
Liechtenstein                               1.000000
Lithuania                                   0.585859
Luxembourg                                  0.500000
Madagascar                                       NaN
Malaysia                                    0.250000
Maldives                                    1.000000
Malta                                       0.135135
Mauritius                                   1.000000
Mexico                                      0.464286
Monaco                                      1.000000
Mongolia                                         NaN
Montenegro                                  1.000000
Morocco                                     1.000000
Myanmar                                     0.947368
Nepal                                            NaN
Netherlands                                 0.453917
New Zealand                                 0.719745
Nigeria                                          NaN
North Macedonia                             0.936170
Norway                                      0.253731
Pakistan                                         NaN
Panama                                           NaN
Paraguay                                         NaN
Peru                                        0.419753
Philippines                                 0.623762
Poland                                      0.620856
Portugal                                    0.716374
Qatar                                            NaN
Republic of Korea                           0.468750
Romania                                     0.855750
Russian Federation                          0.500000
Saudi Arabia                                0.166667
Senegal                                     0.400000
Serbia                                      0.986301
Singapore                                        NaN
Slovakia                                    0.241379
Slovenia                                    0.777778
South Africa                                0.324138
Spain                                       0.722066
Sri Lanka                                   0.400000
Sweden                                      0.707895
Switzerland                                 0.754114
Tajikistan                                       NaN
Thailand                                    0.700000
Trinidad and Tobago                         0.250000
Tunisia                                     1.000000
Turkey                                      0.834171
Turkmenistan                                     NaN
Uganda                                           NaN
Ukraine                                          NaN
United Arab Emirates                        0.861111
United Kingdom                              0.439532
United Republic of Tanzania                      NaN
United States of America                    0.627252
Uruguay                                          NaN
Uzbekistan                                       NaN
Venezuela (Bolivarian Republic of)          0.666667
Viet Nam                                    0.677419

In [21]:
#Sorting percentages of missing PM2.5 values in descending order
sorted_df = df_missing_perc.sort_values(by='WHO Country Name', ascending=False)

In [22]:
sorted_df

                                    WHO Country Name
Mauritius                                   1.000000
Tunisia                                     1.000000
Liechtenstein                               1.000000
Andorra                                     1.000000
Morocco                                     1.000000
Monaco                                      1.000000
Bhutan                                      1.000000
Bolivia (Plurinational State of)            1.000000
Maldives                                    1.000000
Egypt                                       1.000000
Montenegro                                  1.000000
Jamaica                                     1.000000
Serbia                                      0.986301
Myanmar                                     0.947368
North Macedonia                             0.936170
Jordan                                      0.894737
United Arab Emirates                        0.861111
Romania                                     0.855750
Turkey                                      0.834171
Brazil                                      0.830898
Hungary                                     0.820000
India                                       0.814128
Ghana                                       0.800000
Slovenia                                    0.777778
Iraq                                        0.769231
Bulgaria                                    0.764444
Bahrain                                     0.756757
Switzerland                                 0.754114
Austria                                     0.752677
Honduras                                    0.750000
Greece                                      0.739437
Spain                                       0.722066
New Zealand                                 0.719745
Portugal                                    0.716374
Sweden                                      0.707895
Thailand                                    0.700000
Bosnia and Herzegovina                      0.690476
Viet Nam                                    0.677419
France                                      0.674603
Venezuela (Bolivarian Republic of)          0.666667
Argentina                                   0.666667
United States of America                    0.627252
Philippines                                 0.623762
Poland                                      0.620856
Germany                                     0.598231
Lithuania                                   0.585859
Albania                                     0.583333
Finland                                     0.554622
Italy                                       0.554490
Czechia                                     0.550685
Ecuador                                     0.541667
Ireland                                     0.537736
Kuwait                                      0.516129
Guatemala                                   0.500000
Luxembourg                                  0.500000
Russian Federation                          0.500000
Croatia                                     0.485714
Denmark                                     0.483871
Colombia                                    0.473118
Republic of Korea                           0.468750
Costa Rica                                  0.466667
Mexico                                      0.464286
Netherlands                                 0.453917
United Kingdom                              0.439532
Israel                                      0.437037
Iran (Islamic Republic of)                  0.433824
Peru                                        0.419753
Sri Lanka                                   0.400000
Senegal                                     0.400000
Belgium                                     0.373016
South Africa                                0.324138
Australia                                   0.279661
Norway                                      0.253731
Malaysia                                    0.250000
Georgia                                     0.250000
Trinidad and Tobago                         0.250000
Iceland                                     0.243902
Slovakia                                    0.241379
Saudi Arabia                                0.166667
Malta                                       0.135135
Latvia                                      0.125000
Chile                                       0.120536
Canada                                      0.068618
Estonia                                     0.052632
China                                       0.000252
Afghanistan                                      NaN
Algeria                                          NaN
Bahamas                                          NaN
Bangladesh                                       NaN
Cameroon                                         NaN
Cuba                                             NaN
Cyprus                                           NaN
El Salvador                                      NaN
Ethiopia                                         NaN
Fiji                                             NaN
Indonesia                                        NaN
Japan                                            NaN
Kazakhstan                                       NaN
Kenya                                            NaN
Kyrgyzstan                                       NaN
Lao People's Democratic Republic                 NaN
Lebanon                                          NaN
Madagascar                                       NaN
Mongolia                                         NaN
Nepal                                            NaN
Nigeria                                          NaN
Pakistan                                         NaN
Panama                                           NaN
Paraguay                                         NaN
Qatar                                            NaN
Singapore                                        NaN
Tajikistan                                       NaN
Turkmenistan                                     NaN
Uganda                                           NaN
Ukraine                                          NaN
United Republic of Tanzania                      NaN
Uruguay                                          NaN
Uzbekistan                                       NaN

We will consider removing the top 14 countries listed above for any computations involving PM2.5 measurements because more than 95% of the data is missing for these countries.

In [23]:
#Checking for duplicate rows
df_dups = df[df.duplicated()]

In [24]:
df_dups

Empty DataFrame
Columns: [WHO Region, WHO Country Name, City or Locality, Measurement Year, PM2.5 (μg/m3), PM10 (μg/m3), NO2 (μg/m3), PM25 temporal coverage (%), PM10 temporal coverage (%), NO2 temporal coverage (%), Reference, Number and type of monitoring stations, Version of the database]
Index: []

No duplicates found

In [26]:
# Export data to pkl

df.to_pickle(os.path.join(path, 'Prepared_Data', 'air_qual_cleaned.pkl'))